
*.aux

writing/Cubert/Cubert manuscript.pdf

*.toc

*.log

*.dvi

*.blg

*.bbl

*.results

notes/Grimm 2012 notes.md

*.Rhistory

experiments/2-corpus-based/.Rhistory

*.pdf

corpora/searches/
corpora/results/

writing/Cubert/reviews/Review-notes.md

writing/Cubert/reviews/Review-notes.rtf

model/~$plural-predication-wppl.xlsx

writing/Cubert/revision/Cubert cover letter.out

experiments/Persistence.v14.manipulationcheck4/experiment_persistence.v14-master/~$items.xlsx
