
*.aux

writing/Cubert/Cubert manuscript.pdf

*.toc

*.log

*.dvi

*.blg

*.bbl

*.results

notes/Grimm 2012 notes.md

*.Rhistory

experiments/2-corpus-based/.Rhistory

*.pdf

corpora/are/
corpora/were/
corpora/test/
